@import "~mdb-ui-kit/css/mdb.min.css";

/*Teacher Dash CSS */

.my-side {
  transform: translateX(0px);
}

@media (max-width: 450px) {
  body {
    height: 950px !important;
  }
}
@media (min-width: 550px) and (max-width: 750px) {
  body {
    height: 1100px !important;
  }
}
@media (min-width: 800px) and (max-width: 990px) {
  body {
    height: 600px !important;
  }
}

body {
  background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  height: 100vh;
}
