.side-style {
  height: 100%;
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: red;
  overflow-x: hidden;
}

.teacher-sidenav {
  align-self: flex-start;
}

.first-row-divs,
.second-row-divs {
  height: 20px;
  width: 20px;
}

#d1 {
  background-color: yellow;
}
#d2 {
  background-color: green;
}
#d3 {
  background-color: red;
}
#d4 {
  background-color: orange;
}
#d5 {
  background-color: blue;
}
#d6 {
  background-color: green;
}
